[project]
	description = Online Payment Module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sebastian Michaelsen (smichaelsen)
[access "refs/for/refs/*"]
	read = group user/Sebastian Michaelsen (smichaelsen)
	push = group user/Sebastian Michaelsen (smichaelsen)
	label-Code-Review = -2..+2 group user/Sebastian Michaelsen (smichaelsen)
	label-Verified = -1..+1 group user/Sebastian Michaelsen (smichaelsen)
	rebase = group user/Sebastian Michaelsen (smichaelsen)
	removeReviewer = group user/Sebastian Michaelsen (smichaelsen)
	submit = group user/Sebastian Michaelsen (smichaelsen)
[access "refs/heads/*"]
	read = group user/Sebastian Michaelsen (smichaelsen)
	create = group user/Sebastian Michaelsen (smichaelsen)
	push = +force group user/Sebastian Michaelsen (smichaelsen)
	pushMerge = group user/Sebastian Michaelsen (smichaelsen)
[access "refs/tags/*"]
	push = +force group user/Sebastian Michaelsen (smichaelsen)
	pushTag = group user/Sebastian Michaelsen (smichaelsen)
	pushSignedTag = group user/Sebastian Michaelsen (smichaelsen)
